// Element UI
@import "~element-ui/lib/theme-chalk/index.css";

$fa-css-prefix: el-icon-fa;
@import "~font-awesome/scss/font-awesome";
[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome!important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};
.content-wrapper {
  .content {
    padding: 0 .5rem;
  }
}
.el-tab-pane {
  padding-top: 12px;
}
.vue-video-center {
  background: gray !important;
}
.el-form-item label {
    margin-bottom: 0 !important;
}

.f-action {
    color: #616161 !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}
.f-breadcrumb {
    color: #242424 !important;
    font-family: Roboto !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 20px !important;
}
aside .sidebar {
    margin-top: 5px !important;
}
.f-pointer {
    cursor:pointer;
}
