$color-primary: #6589FF;
/* theme color */
$--color-primary: #6589FF;
$--size-base: 14px !default;
$--font-size-base: 14px !default;
$font-family-sans-serif: -apple-system, system-ui,  Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:     Roboto, Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Roboto, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$brand-primary: #6589FF;
// Element UI
@import "~element-ui/packages/theme-chalk/src/index";

$fa-css-prefix: el-icon-fa;
@import "~font-awesome/scss/font-awesome";

[class^="el-icon-fa"],
[class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
    font-family: Roboto !important;

}

.content-wrapper {
  .content {
    padding: 0 .5rem;
  }
}

.el-tab-pane {
  padding-top: 12px;
}

.vue-video-center {
  background: gray !important;
}

.el-form-item label {
  margin-bottom: 0 !important;
}

.f-action {
  color: #616161 !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.f-breadcrumb {
  color: #242424 !important;
  font-family: Roboto !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 20px !important;
}


aside .sidebar {
  margin-top: 5px !important;
}

.f-pointer {
  cursor: pointer;
}
.f-icon-bound {
    cursor:pointer;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: #F5F5FA;
    display: flex;
    padding: 6px;
    align-items: center;
}
.f-icon-bound-breadcrumb {
    cursor:pointer;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: #8181A5;
    display: flex;
    padding: 6px;
    align-items: center;
}
.card-body {
  padding: 12px !important;
}

.el-dialog__header {
  padding: 12px !important;
}

.el-dialog__body {
  padding: 12px !important;
}

.el-form .el-form-item__label {
  color: var(--gray-9, #2F3748) !important;

  /* Body/14/Regular */
  font-family: Roboto;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px;
  /* 157.143% */
}

// .el-form .el-input__inner {
//   display: flex;
//   height: 48px !important;
//   padding: 4px 12px !important;
//   border-radius: 4px !important;
//   border: 1px solid var(--basic-0, #F6F6F6) !important;
//   background: var(--common-2, #FAFAFA) !important;
// }

.popup-change-pass .el-dialog__header{
  padding: 0px !important;
}
.popup-change-pass .el-dialog__body{
  padding: 40px !important;
}
.popup-change-pass .el-dialog{
  border-radius: 16px;
}

.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
    content: none;
}

.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:after {
    content: "*";
    color: #F56C6C;
    margin-left: 4px;
}

.f-box-title {
    padding-bottom: 23px;
}
.f-text-title {
    color:  #242424;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.el-table {
    font-family: Roboto !important;
    font-size: 14px !important;
}
.el-table__header th tr {

    background: rgba(245, 245, 250, 0.40);
    font-weight: 500;
}
.el-table th.el-table__cell {
    background: rgba(245, 245, 250, 0.40) !important;
    font-weight: 500;
}

.el-input.is-disabled .el-input__inner{
  color: var(--gray-9, #2F3748);
}

.select-date-customer .el-input__inner{
  padding-left: 8px;
  padding-right: 8px;
  width: 140px;
}

.el-drawer__header{
  margin-bottom: 0px !important;
}
